a:link{ color: whitesmoke; text-decoration: none;}
         a:visited{color: whitesmoke; text-decoration: none;}
         a:hover{color: black;}   

.navcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #bfcbd3;
    font-size: 20px;
    justify-content: right;
    font-family: 'News Cycle', sans-serif;
    padding-bottom: 70px; }

    .article{
        display: flex;
        height: 40px;
        justify-content: center;
        text-align: center;
        margin: auto;
        background-color: #a9b2bd;
        color: black;
        font-size: 15px;
        width: 70%;
        padding: 10px;
        text-decoration: none;
        font-family: 'News Cycle', sans-serif;
    }
    img {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        border: white solid;
        border-width: 10px;
    }

    .headercontainer{
        display: flex;
        text-align: center;
        align-items: center;
        margin: auto;
        background-color:#6f7e91;
        width: 70%;
        height: 380px;
        padding: 10px;
    }

    .section1{
        
        bottom: 30px;
     }
    .section2{
        font-size: 15px;
        text-decoration: none;
        font-family: 'News Cycle', sans-serif;
        text-align: justify;
        padding-left: 10px;
        line-height:3mm;
    }
